body{
    background:black;
}

p {
    color:rgb(242, 111, 245);
    font-size: 69px;
    text-align: center;
    font-family: 'Nabla', cursive;

}

.tir{
    font-weight: bold;
    display: block;
    background-color: black;
}

img {
    width: 2%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}









.info{
    background-color: blueviolet;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    margin-top: 70px;
    padding-top: 30px;
}

.info:hover {
    background-color: black;
}

.info:hover .suii{
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:not(p){

}











.container {
    background-color: rgb(242, 111, 245);
    display: flex;
    gap: 30px;
    align-items: center ;
    justify-content: space-between;
}

.boite1 {
    width: 40%;
    height: 200px;
    border: 2px solid black;
}

.boite2 {
    width: 20%;
    height: 380px;
    border: 2px solid black;
}

.boite3 {
    width: 70%;
    height: 100px;
    border: 2px solid black;
}